a, li {
list-style: none;
text-decoration: none;
}

.product-card{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-end;
    width: 15vmax;
    height: auto;
    font-size: 1.8vmin;
    border: 1px solid #247254b2;
    border-radius: 6px;
    padding: 15px;
}
.product-box{
    display: flex;
    flex-direction: column;
}
.product-components{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.product-button{
    background: none;
    /* color: #247254b2; */
    border: 1px solid #247254b2;
    border-radius: 4px;
}
.product-button:hover{
    background: #247254fa;
    color: rgb(235, 235, 232);
}
.icon-button{
    margin-left: 10px;
}
.product-collection{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    margin: 25px;
    /* width: 100%; */
    /* max-width: 70%; */
}